body {
    font-family: Arial, sans-serif;
    background-color: #9cb5ce;
    margin: 0;
    padding: 0;
}

.container {
    width: 70%;
    margin: 30px auto;
    background: rgb(160, 153, 153);
    padding: 20px;
    border-radius: 8px;
}

h1, h2 {
    color: #333;
}

nav a {
    margin-right: 15px;
    text-decoration: none;
    color: #007bff;
    font-weight: bold;
}

nav a:hover {
    text-decoration: underline;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    background: #eef1f4;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
}

.completed {
    color: green;
    font-weight: bold;
}

button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 8px 12px;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

input, select {
    padding: 6px;
    width: 100%;
    margin-bottom: 10px;
}
